* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

.container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

.btn {
    outline: none;
    display: inline-block;
    margin-top: 4rem;
    padding: 2rem 2rem;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: .4rem;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: all .5s ease;
}

.btn-primary {
    background-color: #18BC9C;
}

.btn-primary:hover {
    background-color: #317c6d;
}

.btn-outline:hover {
    color: #212529;
    background-color: #fff;
}

.btn-social {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 2rem;
    margin: .3rem;
    cursor: pointer;
    transition: all .5s ease;
}

.btn-social:hover {
    background: #fff;
    color: #212529;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


/*Nav Bar*/

nav {
    position: fixed;
    width: 100%;
    color: #fff;
    padding-top: 2.9rem;
    padding-bottom: 2.9rem;
    font-family: "Montserrat", sans-serif;
    background-color: #2C3E50;
    font-weight: 700;
    z-index: 999;
}

#logo-box {
    float: left;
}

#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
}

#nav-links {
    float: right;
}

#nav-links li {
    float: left;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: .1rem;
    transition: color .3s;
}

.nav-item a {
    color: #fff;
}

#nav-links .nav-link:hover {
    color: #18bc9c;
}

#nav-links .nav-link {
    transition: color .3s;
}


/*Header*/

header {
    text-align: center;
    width: 100%;
    background: #18BC9C;
    padding-top: calc(110px + 10rem);
    padding-bottom: 110px;
}

header h1 {
    color: #fff;
    font-weight: 700;
    font-size: 6.6rem;
}

header h2 {
    font-weight: 300;
    color: #fff;
}

hr.star-light {
    border-color: #fff;
}

hr.star-dark {
    border-color: #2C3E50;
}

.star-light,
.star-dark {
    overflow: visible;
    border: none;
    border-top: .4rem solid;
    max-width: 25rem;
    margin: 2rem auto;
    height: 1rem;
}

.star-light::after {
    color: #fff;
    background: #18BC9C;
}

.star-dark::after {
    color: #2C3E50;
    background: #fff;
}

.star-light::after,
.star-dark::after {
    padding: 0 10px;
    position: relative;
    font-size: 3.2rem;
    font-weight: 900;
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    top: -26px;
}

section {
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 10rem;
}

section h2 {
    font-size: 4.8rem;
    color: #2C3E50;
}

.portfolio-images {
    position: relative;
}

.col {
    float: left;
    width: 33.33333%;
    padding: 30px;
}

.portfolio-item {
    position: relative;
}

.portfolio-item img {
    display: block;
}

.img-overlay {
    position: absolute;
    background: #18BC9C;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    transition: .5s ease;
    opacity: 0;
}

.img-overlay .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

.portfolio-item:hover .img-overlay {
    cursor: pointer;
    opacity: .9;
}

.icon i {
    color: #fff;
}

#about {
    background: #18bc9c;
}

#about h2 {
    color: #fff;
}

#about-text {
    color: #fff;
}

#about-text .left {
    width: 50%;
    float: left;
    padding-right: 3rem;
    padding-left: 20rem;
}

#about-text .right {
    width: 50%;
    float: right;
    padding-left: 3rem;
    padding-right: 20rem;
}

.text {
    text-align: left;
    font-size: 2rem;
}

#contact-form {
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

#contact .form-group {
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 4rem;
    padding-bottom: 3rem;
}

#contact input,
#contact textarea {
    border: transparent;
    width: 100%;
    display: block;
    font-size: 2.4rem;
}

.form-group input,
.form-group textarea:focus {
    outline: none;
}

footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background: #2C3E50;
    color: #fff;
}

footer h4 {
    font-size: 2.4rem;
}

footer li {
    display: inline-block;
}

.copyright {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    text-align: center;
    background-color: #1A252F;
    color: #fff;
    font-size: 2rem;
}

@media screen and (max-width: 400px) {
    .col {
        float: left;
        width: 100%;
        padding: 30px;
    }
}

@media screen and (max-width: 700px) {
    .col {
        float: left;
        width: 50%;
        padding: 30px;
    }
}